body {
    background-image: url('club_pic.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow-y: scroll;
    margin: 0px;
  }

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blue;
}

.items{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 93px;
    padding-right: 93px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bold;
    align-self: center;
    transition-duration: 0.2s;
}

#home a{
    text-decoration: none;
    color: black;
}

#item1:hover, #item2:hover, #item3:hover, #item4:hover, #item5:hover, #home:hover{
    background: white;
    cursor: default;
}

#options1{
    display: inline-flex;
    visibility: hidden;
    margin-left: 239px;
    width: 200px;
    height: 195px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

.soc{
    display: flex;
    width: 240px;
    height: 50px;
    margin-bottom: -20px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

.soc > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#insta:hover, #face:hover, #link:hover, #med:hover{
    background: white;
}

#options2{
    display: inline-flex;
    visibility: hidden;
    margin-left: 480px;
    width: 241px;
    height: 148px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

.about{
    display: flex;
    width: 243px;
    height: 50px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

.about > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#found:hover, #b1:hover, #b2:hover{
    background: white;
}

#options3{
    display: inline-flex;
    visibility: hidden;
    margin-left: 730px;
    width: 270px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

.evs{
    display: flex;
    width: 220px;
    height: 45px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

.evs > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#riv:hover, #ev1:hover, #ev2:hover, #ev3:hover{
    background: white;
}

#options4{
    display: inline-flex;
    visibility: hidden;
    margin-left: 985px;
    width: 270px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

.dep{
    display: flex;
    width: 273px;
    height: 45px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

.dep > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#act:hover, #des:hover, #edit:hover, #man:hover, #pr:hover{
    background: white;
}

#options5{
    display: inline-flex;
    visibility: hidden;
    margin-left: 1264px;
    width: 269px;
    height: 45px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

.form{
    display: flex;
    width: 219px;
    height: 45px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

.form > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form:hover{
    background: white;
}

#found-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#sam{
    display: inline-flex;
    margin: 35px;
    border: 2px solid white;
    border-radius: 12px;
    width: 1100px;
    height: 220px;
}

#sam-pic{
    width: 270px;
    height: 220px;
    border-radius: 10px 0 0 10px;
}

.found-info{
    background-color: rgb(129, 129, 129);
    padding: 20px;
    width: 800px;
    height: 180px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#general{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info{
    background: rgb(129, 129, 129);
    width: 700px;
    height: 215px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 12px;
}

.desc{
    background: rgb(129, 129, 129);
    width: 700px;
    height: 200px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 12px;
}

#goal, #arts, #design{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    cursor: default;
}

h2{
    color:white;
    margin-top: 0px;
}

.info > p{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
    cursor: default;
}

.desc > p{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    cursor: default;
}

#group{
    width: 700px;
    height: 500px;
    margin-top: 25px;
    margin-left: 370px;
    border: 2px solid white;
    border-radius: 12px;
}
.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fub, #sen, #ocha, #fa, #har, #viru, #niha, #swe, #ota, #goku, #ss, #mon, #pos, #kuma, #red, #sport{
    width: 300px;
    height: 300px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 12px;
}

#more{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 700px;
}


#appform{
    margin-left: 315px;
    margin-right: 300px;
    margin-top: 105px;
    margin-bottom: 200px;
    width: 900px;
    height: 700px;
}

#appfield{
    background-color: blue;
    width: 820px;
    height: 770px;
    border: 3px solid red;
    border-radius: 3%;
}

legend{
    text-align: center;
    border: 3px solid red;
    font-size: x-large;
    background-color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.genders, .year{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#btn{
    width: 100px;
    height: 35px;
    font-size: medium;
    margin-left: 340px;
    margin-right: 340px;
    margin-top: 12px;
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid red;
    border-radius: 12px;
    cursor: pointer;
}


