body {
    background-image: url('club_pic.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow-y: scroll;
    margin: 0px;
  }

/* Spacing and formatting which is applied for the navigation bar */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blue;
}

/* Formatting applied for element tab of the navigation bar */
.items{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 93px;
    padding-right: 93px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bold;
    align-self: center;
    transition-duration: 0.2s;
}

#home a{
    text-decoration: none;
    color: black;
}

#item1:hover, #item2:hover, #item3:hover, #item4:hover, #item5:hover, #home:hover{
    background: white;
    cursor: default;
}

/* Styling for the second tab of the navigation bar */

/* Formatting which is done for the entire dropdown of the second tab of navigation bar */
#options1{
    display: inline-flex;
    visibility: hidden;
    margin-left: 239px;
    width: 200px;
    height: 195px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

/* Formatting and styling which is done for each tab of the dropdown */
.soc{
    display: flex;
    width: 240px;
    height: 50px;
    margin-bottom: -20px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

/* Formatting and styling done for the anchor tags in the dropdown */
.soc > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#insta:hover, #face:hover, #link:hover, #med:hover{
    background: white;
}
/* Styling for the second tab of the navigation bar */

/* Styling for the third tab of the navigation bar */

/* Formatting which is done for the entire dropdown of the third tab of navigation bar */
#options2{
    display: inline-flex;
    visibility: hidden;
    margin-left: 480px;
    width: 241px;
    height: 148px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

/* Formatting and styling which is done for each tab of the dropdown */
.about{
    display: flex;
    width: 243px;
    height: 50px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

/* Formatting and styling done for the anchor tags in the dropdown */
.about > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#found:hover, #b1:hover, #b2:hover{
    background: white;
}
/* Styling for the third tab of the navigation bar */

/* Styling for the fourth tab of the navigation bar */
#options3{
    display: inline-flex;
    visibility: hidden;
    margin-left: 730px;
    width: 270px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

/* Formatting which is done for the entire dropdown of the fourth tab of navigation bar */
.evs{
    display: flex;
    width: 220px;
    height: 45px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

/* Formatting and styling done for the anchor tags in the dropdown */
.evs > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#riv:hover, #ev1:hover, #ev2:hover, #ev3:hover{
    background: white;
}
/* Styling for the fourth tab of the navigation bar */

/* Styling for the fifth tab of the navigation bar */
#options4{
    display: inline-flex;
    visibility: hidden;
    margin-left: 985px;
    width: 270px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

/* Formatting which is done for the entire dropdown of the fifth tab of navigation bar */
.dep{
    display: flex;
    width: 273px;
    height: 45px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

/* Formatting and styling done for the anchor tags in the dropdown */
.dep > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#act:hover, #des:hover, #edit:hover, #man:hover, #pr:hover{
    background: white;
}
/* Styling for the fifth tab of the navigation bar */

/* Styling for the sixth tab of the navigation bar */

/* Formatting which is done for the entire dropdown of the sixth tab of navigation bar */
#options5{
    display: inline-flex;
    visibility: hidden;
    margin-left: 1264px;
    width: 269px;
    height: 45px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}

/* Formatting which is done for the entire dropdown of the sixth tab of navigation bar */
.form{
    display: flex;
    width: 219px;
    height: 45px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: blue;
    transition-duration: 0.2s;
    z-index: 3;
}

/* Formatting and styling done for the anchor tags in the dropdown */
.form > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form:hover{
    background: white;
}
/* Styling for the sixth tab of the navigation bar */

/* formatting for the space containing the divisions of the founders */
#found-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* formatting and styling for division of first, third, fifth, seventh, ninth board members */
.odd-board{
    display: inline-flex;
    margin: 35px;
    border: 2px solid white;
    border-radius: 12px;
    width: 1100px;
    height: 220px;
}

/* formatting and styling for division of second, fourth, sixth, eighth, tenth members */
.even-board{
    display: inline-flex;
    margin-left: 370px;
    border: 2px solid white;
    border-radius: 12px;
    width: 1100px;
    height: 225px;
}

/* formatting for picture of first, third, fifth, seventh, ninth members */
.odd-pics{
    width: 270px;
    height: 220px;
    border-radius: 10px 0 0 10px;
}

/* formatting for picture of second, fourth, sixth, eighth members */
.even-pics{
    width: 270px;
    height: 225px;
    border-radius: 0 10px 10px 0;
}

/* formatting and styling for information section of first, third, fifth, seventh, ninth board members */
.odd-info{
    background-color: rgb(129, 129, 129);
    padding: 20px;
    width: 800px;
    height: 180px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* formatting and styling for information section of second, fourth, sixth, eighth board members */
.even-info{
    background-color: rgb(129, 129, 129);
    padding: 20px;
    width: 800px;
    height: 185px;
    border-radius: 10px 0 0 10px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* formatting for space containing our goal tab, group pic and more about us */
#general{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* formatting and styling for paragraphs and headings in index.html */
.info{
    background: rgb(129, 129, 129);
    width: 700px;
    height: 215px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 12px;
}

/* formatting and styling for paragraph and headings in arts and creative page */
.desc{
    background: rgb(129, 129, 129);
    width: 700px;
    height: 200px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 12px;
}

#goal, #arts, #design{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    cursor: default;
}

h2{
    color:white;
    margin-top: 0px;
}

/* styling for paragraphs on index.html page */
.info > p{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
    cursor: default;
}

/* styling for paragraphs on arts and creative page */
.desc > p{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    cursor: default;
}

/* formatting and styling for group pic on index.html */
#group{
    width: 700px;
    height: 500px;
    margin-top: 25px;
    margin-left: 370px;
    border: 2px solid white;
    border-radius: 12px;
}
/* formatting for pics on arts and creative page */
.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* styling for each pic on arts and creative page */
#fub, #sen, #ocha, #fa, #har, #viru, #niha, #swe, #ota, #goku, #ss, #mon, #pos, #kuma, #red, #sport{
    width: 300px;
    height: 300px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 12px;
}

/* formatting for more about us tab on index.html */
#more{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 700px;
}

/* formatting for application form on application form page */
#appform{
    margin-left: 315px;
    margin-right: 300px;
    margin-top: 105px;
    margin-bottom: 200px;
    width: 900px;
    height: 700px;
}

/* styling for application form on application form page */
#appfield{
    background-color: blue;
    width: 820px;
    height: 770px;
    border: 3px solid red;
    border-radius: 3%;
}

/* styling for legend field of fieldset tag */
legend{
    text-align: center;
    border: 3px solid red;
    font-size: x-large;
    background-color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* styling for each of the label tags in application form */
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.genders, .year{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* formatting and styling for submit button of application form */
#btn{
    width: 100px;
    height: 35px;
    font-size: medium;
    margin-left: 340px;
    margin-right: 340px;
    margin-top: 12px;
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid red;
    border-radius: 12px;
    cursor: pointer;
}


